{% extends "encyclopedia/layout.html" %}

{% block title %}
Add
{% endblock %}

{% block body %}
<h1>Create New Entry</h1>

<form action="{% url 'add' %}" method="post" style="display: flex; flex-direction: column;">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title: " required
        style="width: 300px; height: auto; margin-bottom: 1vh;">
    <textarea name="content" placeholder="Content: " required
        style="width: 500px; height: 30vh; margin-bottom: 1vh;"></textarea>
    <button type="submit" style="width: 200px;">Save Page</button>
</form>

{% endblock %}